.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "aleft main aright"
    "footer footer footer";
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

aside.left {
  grid-area: aleft;
}

aside.right {
  grid-area: aright;
}

footer {
  grid-area: footer;
}

h1 {
  font-size: 96px;
}




body * {
  border: 1px solid red;
  margin: 8px;
  padding: 8px;
  background-color: blue;
  color: white;
}
